
// Our variables
$base-font-family: "Avenir Next", Avenir, "Nunito Sans", "Franklin Gothic", sans-serif;
$base-font-size:   18px;
$base-font-weight: 500;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #eee;
$brand-color:      #00468d;

$grey-color:       #555 !default;
$grey-color-light: #ccc !default;
$grey-color-dark:  #555 !default;

// Width of the content area
$content-width:    1040px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }