---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "config";


body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family !important;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight + 100;
}
body {
  padding: 0 16px !important;
}

#wall *, body, html {padding: 0; margin:0;}
#wall {text-align: center;}
img {width:160px; height:144px;}
.logs {width: 320px; height: 144px;}
.result h2 {background:black; color: white; font-size: 12px; font-weight:bold; border: #ccc solid 1px; padding: 2px; position:absolute; left:0; right:0; top:0; height:16px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
pre {overflow: auto; font-size: 12px;display:inline-block; text-align: left;vertical-align:bottom;font-family:Menlo, Lucida Console, Droid Sans Mono, DejaVu Sans Mono, monospace;}
.result {display: inline-block;position:relative;padding-top:16px!important;}
.failure h2 {background: #c44;}
ol {max-height: 320px; overflow-y:scroll;}
