---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "config";


body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family !important;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight + 100;
}
