/**
 * Site header
 */
.site-header {
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;
  width:100%;
  text-align: center;
}

.site-header > div {
  text-align: left;
  position: relative;
  display:inline-block;
  margin-left:144px;
  margin-top:12px;
}

.header-logo {
    position:absolute;
    left:-144px;
    top:3px;
} 

.site-nav {
  line-height: 56px;
  text-align: center;

  .page-link {
    color: $text-color;
    display: inline-block;
    height:100%;
    padding: 0 8px;
    text-align: center;
  }
  
  .page-link::before {
      content:attr(data-title);
      font-weight:bold;
      display:block;
      height:0px !important;
      overflow:hidden;
  }
  
  .page-link.current {
      font-weight:bold;
  }

  @media screen and (max-width: $on-palm), screen and (max-height: 800px) {
    text-align:center;
    line-height:36px;
    font-size:16px;
  }
  
  border-bottom: 1px solid $grey-color-light;
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: 8px 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.social-media-list li {
  display: inline-block;
  margin-left: 8px;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: 0;
}

.footer-col ul {
  margin-bottom: 0;
}


.footer-col-1 {
  width: 25%;
}

.footer-col-2 {
  width: 50%;
}

.footer-col-2 p{
  text-align:center;
}

.footer-col-3 {
  width: 25%;
  text-align:right;
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
  .footer-col-1, .footer-col-2, .footer-col-3 {
    text-align:center;
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

section.latest {
    background-color: #fcfcfc;
    padding: 48px 16px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow: rgba(0,0,0,0.25) 0px 2px 12px;
    position: relative;
    * {
        margin:0;
    }
    @media screen and (min-width: $on-palm + 1) {
        ul {
            position: absolute;
            right: 16px;
            top: 16px;
            left:initial !important;
            height: calc(100% - 32px);
            li {
                height: 14.286%;
                display: flex;
                align-items: center;
            }
        }
    }
    .post-link {
        font-size: 40px;
        @media screen and (max-width: $on-palm) {
            font-size:32px;
        }
        margin: 8px 0;
    }
    margin-bottom:24px;
}

section.release {
    ul {
        padding-left:0;
        margin-left:0;
        list-style-type: none
    }
    li a::before {
        height:16px;
        width: 28px;
        display: inline-block;
        content:"";
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

li.mac a::before {
    background-image: url(/apple.svg);
    vertical-align: -1px;
}

li.ios a::before {
    background-image: url(/ios.svg);
    vertical-align: -1px;
}

li.windows a::before {
    background-image: url(/windows.svg);
    vertical-align: -1px;
}

li.source a::before {
    background-image: url(/source.svg);
    vertical-align: -2px;
}

li.info a::before {
    background-image: url(/info.svg);
    vertical-align: -2px;
}

.collapsable {
    overflow:hidden;
    margin-left:32px;
}

.collapse .arrow {
    float: left;
    width:16px;
    height:16px;
    background-image: url('/arrow.svg');
    background-size: 16px 16px;
    margin: 9px;
    transform: rotate(-90deg)
}

.filter-demo {
    border-radius: 8px;
    text-align:center;
    background:#222;
    img {
        image-rendering: pixelated;
    }
    ul {
        position:relative;
        top:16px;
        left:0;
        padding:0;
        text-align:left;
        float: left;
        list-style: none;
        margin:0;
        width: 240px;
        background:#d8d8d8;
    }
    li {
        padding:8px;
        cursor: pointer;
    }
    li.selected {
        color: white;
        background:#222;
    }
    .sample {
        margin: 4px;
        cursor:pointer;
    }
    margin-bottom: 20px;
}
#scaling-image {
    margin: 8px;
    border-radius:4px;
}

.gallery-item {
    display:inline-block;
    position:relative;
    width:386px;
    top:0;
}

#gallery {
    white-space: nowrap;
    float:right;
    padding: 0px 24px;
    text-align: center;
    width:400px;
    height:414px;
    position:relative;
    overflow: hidden;
    margin-top:-64px;
    margin-right:-24px;
}

#gallery img {
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow: rgba(0,0,0,0.25) 0px 2px 12px;
    border-radius:2px;
    margin:24px 32px;
    background:black;
    max-width: none;
}

#gallery .sgb {
    margin:0;
}


#gallery .game-title {
    font-weight:bold;
    font-size:18px;
    padding-top:8px;
}

#gallery .platform {
    font-style: italic;
    padding-top:4px;
    font-size:14px;
}

@include media-query($on-palm) {
    #gallery {
        white-space: nowrap;
        float:none;
        width:400px;
        margin-top:0;
        margin-right:0;
        left:calc(50% - 232px);
    }
}

.zoom-out {
    transition: all 1s;
    opacity:0%;
    top:-24px;
    transform: scale(0.75);
}

.clearfix {
    clear:both;
}

.left-float {
    float:left;
    margin-left:-256px;
}

.right-float {
    float:right;
    margin-right:-256px;
    padding-left:32px;
}

.hard-right-float {
    float:right;
    margin-right:-400px;
    padding-left:40px;
}

.center-image {
    max-width:none!important;
    position:relative;
    left: -80px;
}


@include media-query($on-palm) {
    .center-image, .hard-right-float, .right-float, .left-float {
        float:none;
        display:block;
        width:100%;
        margin:0;
        position:static;
        padding:0;
    }
}

th {
    font-weight: inherit;
    background: #ddd;
}

th, td {
    vertical-align: top;
    text-align: left;
    padding:8px;
}