---
layout: default
group: News
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">Released {{ page.date | date: "%b %-d, %Y" }}</time></p>
  </header>

  <div class="post-content" itemprop="articleBody">
    <h2>Downloads</h2>
    <ul>
      {% if page.cocoa %}
      <li><a href="{{page.cocoa}}">Download for macOS</a></li>
      {%  endif %}
      {% if page.windows %}
      {% if page.windows_js %}
      <li><a onclick="return DownloadUnique(this);" href="{{page.windows}}">Download for Windows</a></li>
      {% else %}
      <li><a href="{{page.windows}}">Download for Windows</a></li>
      {% endif %}
      {%  endif %}
      {% if page.appstore %}
      <li><a href="https://apps.apple.com/us/app/sameboy/id6496971295">iOS App Store Page</a></li>
      {%  endif %}
      {% if page.ipa %}
      <li><a href="{{page.ipa}}">Download for iOS (IPA)</a></li>
      {%  endif %}
      {% if page.ios-deb %}
      <li><a href="{{page.ios-deb}}">Download for iOS (Deb)</a></li>
      {%  endif %}
      {% if page.source %}
      <li><a href="{{page.source}}">Download source code</a></li>
      {%  endif %}
    </ul>
    <h2>Changes</h2>
    {{ content }}
  </div>
</article>
